<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ServerName" value="localhost, {0}!"/>
		<add key ="UserId" value="root, {0}!"/>
		<add key ="Password" value=", {0}!"/>
		<add key ="DataBase" value="biblio_bdd, {0}!"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>